@tailwind base;
@tailwind utilities;
@tailwind components;

html {
    overflow: hidden;
}

#header {
    -webkit-app-region: drag;
}

.editor-content::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

.editor-content::-webkit-scrollbar-track {
  background: rgba(255,255,255, .1);        /* color of the tracking area */
}

.editor-content::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255, .1);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid transparent;  /* creates padding around scroll thumb */
}

.dropdown {
  position: absolute;
  z-index: 999;
}